//
//  Development.xcconfig
//  configuarationSchemes
//
//  Created by Gia Han on 3/2/21.
//  Copyright © 2021 vn.netstars. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH = /
APP_NAME = Configuration - Dev
PRODUCT_BUNDLE_IDENTIFIER = vn.freelancer.configuarationSchemes.dev
DOMAIN_API = http:${SLASH}/khanh.dev
APP_COLOR = #ffe700ff
